body{
    margin: 0;
    padding: 0;

}
.titleair{
    display: none;
}
@font-face {
    font-family: "tt";
    src: url(/images/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}
@font-face {
    font-family: "yy";
    src: url(/images/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}
h1{
    font-size: 1em;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
    color: #222222;
    font-size: 0.875rem;
    font-family: "yy";

}
.one{
    padding-left: 15px;
}
/* .container{
    margin: 14px 24px 0px;
} */
/* stickyyyyy  */
.container{
   
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1;
    padding-top: 14px;
}
.divone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 19px;
    margin: 0px 24px 0px;
    padding: 0px 4px;
    border-radius: 40px; 
    box-shadow: 0px 8px 16px #EBEBEB;
    border-right:  rgb(34, 34, 34);
    border-left:  rgb(34, 34, 34);
    border-top:  rgb(34, 34, 34);
    border-bottom:  rgb(34, 34, 34);
    

}
.two{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.three{
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    font-family: "yy";
}
.three span{
    text-overflow: ellipsis;
    white-space: nowrap;
   
    font-family: "yy";
    
    font-size: 0.75rem;
    color: #6A6A6A;
    letter-spacing: normal;
}
.icon{
    width: 24px;
}


.icndv span{
    font-family: "yy";
    font-size: 0.75rem;
    color: #6A6A6A;
}
#icon{
    font-weight: 500;
    font-family: "yy";
    font-size: 0.75rem;
    color: #222222;
}
.icondivv img{
    color:#6A6A6A ;
}
.icons{

    grid-template-columns: 100%;
    display: grid;
    grid-auto-columns: max-content ;
    grid-auto-flow: column;
    padding: 0px 24px;
    grid-template-columns: repeat(13,1fr);
    justify-content: flex-start;
    gap: 30px;
    overflow-x: scroll;
    border-bottom: 1px solid #EBEBEB;
}
.icons::-webkit-scrollbar{
    display:none;
}
.icondivvv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* marginnnn */
    /* margin: 12px 0px 10px; */
    margin-top: 7px;
    padding: 4px 0px;
    border-bottom: 2px solid black;
    
}
.icondivv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0px 10px;
    padding: 4px 0px;
}
.icndv{
    min-width: max-content;
   
}

.img{
    border-radius: 10px;
    /* height: 285px; */
    width: 100%;
    height: 355.475px;
    object-fit: cover;
}
.subdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
.arrow{
    position: absolute;
    background-color:rgb(219, 213, 213);
    margin: 12px;
    padding: 8px;
    border-radius: 60px;
    right: 0;
}
/* div4 444444444444 */
.div4{
    width: 100%;
    aspect-ratio: 20/19;
    /* overflow-x: scroll; */
}
.rain{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    line-height: 1.1875rem;
    grid-gap: 2px;
}
.kevin{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    line-height: 1.1875rem;
    grid-gap: 2px;
}
.rain span{
    color: #222222;
    font-size: 0.9375rem;
    font-family: "yy";
    font-weight: 500;
}
.kevin span{
    font-weight: 500;
    color: #222222;
    font-size: 0.9375rem;
    font-family: "yy";
}
#sp2{
    color: #6A6A6A;
    font-weight: 400;
}


/* .container3{
   

    width: 100%;
} */

/* footer */
.categories{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: scroll;
    border-bottom: 1px solid #EBEBEB;
} 
.categories::-webkit-scrollbar{
    display: none;
}.popular{
    border-bottom: 2px solid black;
    color: #222222;
}

p{
    white-space: nowrap;
}
.last0{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 24px;
    justify-content: center;
    padding: 32px 0px 0px;
    margin: 0;
}

.last1{
    display: flex;
    flex-direction: column;
    

}
.lastshow{
    font-weight: 500;
    display: flex;
    /* align-items: center; */
    font-family: "yy";
    justify-content: flex-start;
    gap: 5px;
    font-size: 0.875rem;
}

.lastt2 ,.lastt3{
    display: none;
}


#navbar{
    background-color: #F7F7F7;
}
.navdiv{
    
    box-sizing: border-box;
    padding: 48px 24px;
}

.end{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-bottom: 2px solid #EBEBEB ; 
    background-color: #F7F7F7; 
    padding: 24px 0px;
}
/* .supp :nth-child(3){
    border-bottom: 1px solid #EBEBEB;
} */

.supp span{
    
    font-family: "yy";
    /* margin:0px 0px 12px;  */
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    color: #222222;
} 
.end a{
    font-family: "yy";
    list-style: none;
    font-weight: 400;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
    color: #222222;
    text-decoration: none;
}
.supp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 20px; */
    padding: 0px 24px;
    border-top: 1px solid #EBEBEB;
    
    
}

.end0{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    /* border-bottom: 1px solid rgb(21, 20, 20); */
    background-color: #F7F7F7;
    /* padding: 0px 24px; border issue */
    width: 100%;
    box-sizing: border-box;
   
}
.end2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 9px;
    /* margin: 0px 0px 16px ; */
   
}
.eng{
    display: flex;
    align-items: center;
    gap: 8px;
}
.air{
    
    padding:24px;
    display: flex;
    flex-direction:column;
    gap:19px;
    
   
}
.inr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.inr span{
    font-weight: 500;
    font-family: "yy";
    font-size: 0.875rem;
}
.eng span{
    font-weight: 500;
    font-family: "yy";
    font-size: 0.875rem;
}
.face{
    display: none;
}
.prvcy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}
.prvcy span{
    font-family: "yy";
    font-size: 0.875rem;
    color: rgb(34, 34, 34);
    margin-bottom: 2px;
    
}
.terms{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: -4px;
    padding: 4px;
}

nav{
    display: none;
}
/* divsize */
/* .container2{ */
    /* height: 300px; */
    /* width: 300px; */
/* } */
.gridone{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px;
    /* min-width: 375px; */
    max-width: 100%;
    /* margindecresed */
    margin: 20px 0px 0px;
    padding:0px 24px;
    box-sizing: border-box;
}
.experiences{
    /* margin: 24px 0px 32px; */
    margin: 24px 0px 50px;
    padding:0px 24px ;
    box-sizing: border-box;
}
.experiences1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px;
   
   
   
}
h5{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-family: "yy";
    color: #222222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 19px;
}
h6{
    font-size: 1.375rem;
    font-weight: 500;
    font-family: "yy";
    letter-spacing: -0.01625rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
}
p{
    font-family: "yy";
    font-weight: 500;
    font-size: 0.875rem;
    margin: 6px 6px 6px -10px;
    padding: 10px;
    color: #6A6A6A;
}
#po-p{
    font-family: "yy";
    font-weight: 500;
    font-size: 0.875rem;
    margin: 6px 6px 6px -10px;
    padding: 10px;
    color: #222222;

}
.last1 span{
    font-family: "yy";
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #222222;

}
.icondivv img{
    opacity: 70%;
}
#dot{
     display: none;
}


/* *{ */
    /* box-sizing: border-box; */
/* } */
@media screen  and (min-width:550px){
  
    .img{
         object-fit: cover;
         /* image sizing  in pixel*/
         height: 256.59px;
    }
     .rain span{
       white-space: nowrap;
       overflow: clip;
       text-overflow: ellipsis;
       overflow: hidden;
        
    } 
    .kevin span{
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    
   
    .rain{
        width: 100%;
    }
    
    .subdiv{
        width: 100%;
    }
    .gridone{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px 24px ;
    }
    .experiences1{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px 24px;
    }
}
    

@media screen and (min-width:740px) {
    .divone{
        display: none;
    }
    nav{
        display: inline;
       
    }
    .icons{
        padding: 0px 40px;
    }
    .gridone{
        padding: 0px 40px;
    }
    .experiences{
        padding: 0px 40px;
    } 
    .navdiv{
        padding: 48px 40px;
    }
    .supp{
        padding: 0px 40px;
    }
    /* .end0{
        padding: 0px 40px;
    } */
    .img{
        height:315.59px;
    } 
    
    
    .top{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px; 
        border-bottom: 1px solid #dddddd;
        /* padding-bottom: 20px; */
        /* padding-top: 15px; */
        /* margin-top: 20px; */
        
    }
    .topone{
        background-color: #ffff;
        /* max-width: 100%; */
        padding: 0px 0px 0px 8px;
        margin: -1px;
        /* display: grid;
        grid-template-columns: repeat(4,1fr);
         */
        display: flex;
        align-items: center;
        text-align: left;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
        /* margin-left: 19%; */
       
    }
    .search{
        
        border-radius: 30px;
        color: #F7F7F7;
        background-color: #ff385c;
        margin: 7px 7px 7px 0px;
        padding: 10px;
    }
    .c span{
        font-weight: 500;
        font-family: "yy";
        color: #222222;
        line-height: 1.375rem;
        font-size: 0.875rem;
        padding: 0 16px;
        margin: -1px;
        overflow: clip;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        /* width: 100%; */
        border-right: 1px solid #dddddd;

    }
    #addguests{
        font-weight: 500px;
        font-family: "yy";
        line-height: 1.375rem;
        font-size: 0.875rem;
        padding: 0 16px;
        margin: -1px;
        color: #6A6A6A;
    }
    .container{
        padding-top: unset;
    }
    .topthree img{
        margin-top: 4px;
    }
    
    .yjkkui{
        gap: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
        
    }
    .lastt2{
        display: inline;
        display: flex;
        flex-direction: column;
    }
    .lastt2 span{
        font-weight: 500;
        font-family: "yy";
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    
    .globe{
        padding: 10px;
       
    }
    .toptwo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 8px;
        gap: 15px;

        

    }
    .toptwo span{
        font-weight: 500;
        font-size: 0.875rem;
        font-family: "yy";
        color: #222222;
    }
    .topthree{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 8px 8px 8px 14px; 
        gap: 13px;
        border-radius: 30px;
        border: 1px solid #dddddd;
        
    }
   
    .air{
        align-items: center;
        padding: 24px 0px;

    }

    .face{
        display: inline;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    #hkk{
        display: flex;
        justify-content: center;
    }
   
    
}
@media screen and (min-width:950px) {
    .gridone{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .experiences1{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       
     } 
    .last0{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    } 
    .supp{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .end{
        padding: 48px 0px;
    }
    .topone{
        margin-left: 15%;
    }
   
    
}
@media screen and (min-width:1140px) {
    
    .airtitle{
        display: none;
    }
    .titleair{
        display: inline;
    }
    .gridone{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .experiences1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .last0{
        display: grid;
        grid-template-columns: repeat(6 ,1fr);
    }
    .lastt3{
        display: inline;
        display: flex;
        flex-direction: column;

    }
    .lastt3 span{
        font-weight: 500;
        font-family: "yy";
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    
    .categories{
       
        justify-content: unset;
        gap: 10px;
    }
    .air{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .prvcy{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .topone{
        margin-left: 14%;
    }
    .air{
        border-top: 1px solid #dddddd;
        margin: 0px 40px;
    }
    .img{
        height: 265.59px;
    }


    /* .icons{
        padding: 0px 80px;
    }
    .gridone{
        padding: 0px 80px;
    }
    .experiences{
       padding: 0px 80px;
    } 
    .navdiv{
        padding: 48px 80px;
    }
    .end0{
       padding: 0px 80px;
    }
    .top{
       
        padding-left: 80px;
        padding-right: 80px;
    }
    /* .end{
        padding: 48px 0px;
    }
    */
    .end2{
        margin: 0px 0px 0px;
        padding: 4px;
    } 
    #dot{
        display: inline;
    }
    

    
}

    